{% assign runs = site.data.runlist | where:'RunNo', include.runno %}
{% assign run = runs.first %}

<div class="h2">
     <div class="page-title__text">{{include.RunTitle}}<br/>{{run.RunNo}}</div>
     <div class="page-title__subtitle">{{include.HaresTitle}} - {{run.Hares}}</div>
</div>


<div class="h2">
     <p class="page-title__text">{{run.Date | date: "%b %d"}} @{{run.Time | date: "%I:%M %p" }}</p>
</div>


<div class="about__text">
     {% if run.coordinates != nil %}
          <a href='https://www.google.com/maps/search/?api=1&query={{ run.coordinates }}' target='_blank'>{{run.Location}}</a>
     {% else %}
          <div class="h2"><div class="page-title__subtitle">{{run.Location}}</div></div>
     {% endif %}
     {{run.PostCode}}
     {% if run.What3Words != nil %}<p>W3W:///<a href ="https://w3w.co/{{ run.What3Words }}" target='_blank'>{{ run.What3Words }}</a><br/></p>{% endif %}
     {% if run.coordinates != nil %}<a href ="https://streetmap.co.uk/loc/{{ run.coordinates }}" target='_blank'>{{ run.OSGrid }}</a>{% endif %}
</div>

{% if run["On Inn"] != nil %}
<h3 class="page-title__subtext">On Inn</h3>
<div>{{run["On Inn"]}}</div>
{% endif %}

{% if run.Notes != nil %}
<h3 class="page-title__subtext">Notes</h3>
<div>{{run.Notes}}</div>
{% endif %}

<div class="about"><div class="about__devider">*****</div></div>