@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #000000;
    }
}

.custom-shape-divider-bottom-1638221028 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638221028 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1638221028 .shape-fill {
    fill: #FFFBEB;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1638221028 svg {
        width: calc(182% + 1.3px);
        height: 58px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1638221028 svg {
        width: calc(165% + 1.3px);
        height: 55px;
    }
}