<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>



<body class="bg-yellow-50" style="background: rgb(163,230,53);
background: linear-gradient(160deg, rgba(163,230,53,1) 0%, rgba(70,119,79,1) 25%, rgba(0,36,99,1) 87%);">
    
       <!-- <img class="absolute ml-5 m-5 mb-10 mt-10 rounded-3xl mix-blend-lighten max-h-96 object-contain" src="/assets/img/NH4_Front_Page.jpg">--> 
        {% include hero/header.html %}
        
            

<div class="prose-lg">
{{ content }}
</div>
{% include externals/scripting.html %}
dsfsdfsdf
</body>
</html>