<!DOCTYPE html>
<html lang="en">
<head>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>



<body class="bg-yellow-50">
    
       <!-- <img class="absolute ml-5 m-5 mb-10 mt-10 rounded-3xl mix-blend-lighten max-h-96 object-contain" src="/assets/img/NH4_Front_Page.jpg">--> 
        {% include hero/header.html %}
        
            

<div class="prose-lg">
{% include hero/title.html %}
{{ content }}
</div>
{% include externals/scripting.html %}
dsfsdfsdf
</body>
</html>